{% extends "base.html" %}

{% block content %}

{% if perms.book.change_author %}
<a class="btn btn-primary" href="{% url 'modify_author' pk=author.pk %}" role="button">Modify author</a>
{% endif %}

{% if perms.book.delete_author %}
<a class="btn btn-primary" href="{% url 'delete_author' pk=author.pk %}" role="button">Delete author</a>
{% endif %}

<br>
<br>

<h1 id="title2">{{author.name}} {{author.surname}}</h1>
<hr>
{% for book in books %}
<div class="card">
    <div class="card-body">

        <h5 class="card-title">{{book.title}}</h5>
        <h5 class="card-title">Average rating: {{book.average_rating}}</h5>
        {% for author in book.book_author.all %}

        <h6 class="card-subtitle mb-2 text-muted">{{author.name}} {{ author.surname}}</h6>
        {% endfor %}
        {% for category in book.book_category.all %}
        <p class="card-text">{{category.category_name}}</p>
        {% endfor %}
        <a href="{% url 'book' book.id %}" class="card-link">See details</a>

    </div>
</div>
{% endfor %}


{% endblock %}