{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}


{% if perms.books.change_book %}
<a class="btn btn-primary" href="{% url 'modify_book' pk=book.pk %}" role="button">Modify book</a>
{% endif %}

{% if perms.books.delete_book %}
<a class="btn btn-primary" href="{% url 'delete_book' pk=book.pk %}" role="button">Delete book</a>
{% endif %}

<br>
<br>

<h1 id="title">{{book.title}}</h1>

{% if user.is_authenticated %}

<p id="current_fav_state" hidden data-fav="{{current_fav_state.favourite}}"></p>

{% if current_fav_state.favourite == True %}

<div class="heart">
    <i class="heart fa fa-heart" data-id="{{ book.id }}" value="0"></i>
</div>

{% else %}

<div class="heart">
    <i class="heart fa fa-heart-o" data-id="{{ book.id }}" value="0"></i>
</div>

{% endif %}
{% endif %}


<hr>
<h3><p><b>Average rating:</b></h3> <h3 id="avg_rating" data-id="{{ book.id }}">{{ book.average_rating }}</p></h3>


<p id="current_rating" hidden data-rating="{{current_rating.rating}}"></p>

{% if user.is_authenticated %}
{% if current_rating.rating == 1 %}
<h3> <b>Your rating:</b>
    <form method="post" action="#">
<span class="star-rating">
  <input type="radio" name="rating" value="1" data-id="{{ book.id }}" checked><i></i>
  <input type="radio" name="rating" value="2" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="3" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="4" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="5" data-id="{{ book.id }}"><i></i>
</span>
    </form>
</h3>

{% elif current_rating.rating == 2 %}
<h3> <b>Your rating:</b>
    <form method="post" action="#">
<span class="star-rating">
  <input type="radio" name="rating" value="1" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="2" data-id="{{ book.id }}" checked><i></i>
  <input type="radio" name="rating" value="3" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="4" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="5" data-id="{{ book.id }}"><i></i>
</span>
    </form>
</h3>

{% elif current_rating.rating == 3 %}
<h3> <b>Your rating:</b>
    <form method="post" action="#">
<span class="star-rating">
  <input type="radio" name="rating" value="1" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="2" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="3" data-id="{{ book.id }}" checked><i></i>
  <input type="radio" name="rating" value="4" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="5" data-id="{{ book.id }}"><i></i>
</span>
    </form>
</h3>

{% elif current_rating.rating == 4 %}
<h3> <b>Your rating:</b>
    <form method="post" action="#">
<span class="star-rating">
  <input type="radio" name="rating" value="1" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="2" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="3" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="4" data-id="{{ book.id }}" checked><i></i>
  <input type="radio" name="rating" value="5" data-id="{{ book.id }}"><i></i>
</span>
    </form>
</h3>

{% elif current_rating.rating == 5 %}
<h3><b>Your rating:</b>
    <form method="post" action="#">
<span class="star-rating">
  <input type="radio" name="rating" value="1" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="2" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="3" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="4" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="5" data-id="{{ book.id }}" checked><i></i>
</span>
    </form>
</h3>

{% else %}
<h3> <b> Your rating:</b>
    <form method="post" action="#">
<span class="star-rating">
  <input type="radio" name="rating" value="1" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="2" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="3" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="4" data-id="{{ book.id }}"><i></i>
  <input type="radio" name="rating" value="5" data-id="{{ book.id }}"><i></i>
</span>
    </form>
</h3>

{% endif %}

{% else %}

<h3> <b>Your rating: </b></h3>
<h5> You have to be logged in to rate books </h5>
{% endif %}

<hr>

<h3 id="author">
    <b>Authors: <br></b>
    {% for auth in book.book_author.all %}
    <div class="list-group">
        <a href="{% url 'author' auth.id %}"
           class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{auth.name}} {{auth.surname}}</h5>
            </div>
        </a>
        <div class="d-flex w-100 justify-content-between"></div>
        {% endfor %}
    </div>
    <br>

</h3>
<h3 id="category"><b>Categories:</b></h3>
{% for cat in book.book_category.all %}
<div class="list-group">
    <a href="{% url 'books_in_category' cat.id %}"
       class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{cat.category_name}}</h5>
        </div>
    </a>
    <div class="d-flex w-100 justify-content-between"></div>
    {% endfor %}
</div>
<br>
<hr>

<h3 id="otherbooks"><b>See our other popular books:</b></h3>
{% for book in books %}
<div class="card">
    <div class="card-body">

        <h5 class="card-title">{{book.title}}</h5>
        <h5 class="card-title">Average rating: {{book.average_rating}}</h5>
        {% if user.is_authenticated %}
        {% for book in book.book_rating.all %}
        {% if book.user_id == user.id %}
        <h5 class="card-title">Your rating: {{book.rating}}</h5>
        {% endif %}
        {% endfor %}
        {% endif %}

        {% for author in book.book_author.all %}

        <h6 class="card-subtitle mb-2 text-muted">{{author.name}} {{ author.surname}}</h6>
        {% endfor %}
        {% for category in book.book_category.all %}
        <h6 class="card-text">{{category.category_name}}</h6>
        {% endfor %}
        <a href="{% url 'book' book.id %}" class="card-link">See details</a>

    </div>
</div>
{% endfor %}

{% endblock %}