{% extends "base.html" %}

{% block content %}

{% if category %}

{% if perms.book.change_category %}
<a class="btn btn-primary" href="{% url 'modify_category' pk=category.pk %}" role="button">Modify category</a>
{% endif %}

{% if perms.book.delete_category %}
<a class="btn btn-primary" href="{% url 'delete_category' pk=category.pk %}" role="button">Delete category</a>
{% endif %}
<br>
<br>
<h1> BOOKS: {{category.category_name}}</h1>
<hr>

{% else %}
<h1> BOOKS </h1>
<hr>
{% endif %}

<form id="sort_form" method="get" action="">
    <select class="sortform" name="how" onchange="this.form.submit()">
        <option value="alpha-asc">Alphabetically ascending</option>
        <option value="alpha-desc">Alphabetically descending</option>
        <option value="rating-asc">By rating ascending</option>
        <option value="rating-desc">By rating descending</option>
    </select>
    <noscript><input type="submit" value="Sort"></noscript>
    {% csrf_token %}
</form>

<br>

{% for book in books %}
<div class="card">
    <div class="card-body">

        <h5 class="card-title">{{book.title}}</h5>
        <h5 class="card-title">Average rating: {{book.average_rating}}</h5>
        {% if user.is_authenticated %}
        {% for book in book.book_rating.all %}
        {% if book.user_id == user.id %}
        <h5 class="card-title">Your rating: {{book.rating}}</h5>
        {% endif %}
        {% endfor %}
        {% endif %}

        {% for author in book.book_author.all %}

        <h6 class="card-subtitle mb-2 text-muted">{{author.name}} {{ author.surname}}</h6>
        {% endfor %}
        {% for category in book.book_category.all %}
        <h6 class="card-text">{{category.category_name}}</h6>
        {% endfor %}
        <a href="{% url 'book' book.id %}" class="card-link">See details</a>

    </div>
</div>

{% empty %}
<h3>Nothing to show here yet</h3>
{% endfor %}

<nav aria-label="Book list pagination">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            {% if books.has_previous %}
            <a class="page-link" href="?page={{ books.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                {% endif %}
            </a>
        </li>
        {% for num in books.paginator.page_range %}
        {% if books.number == num %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}"><b>{{num}}</b></a></li>
        {% elif num > books.number|add:'-2' and num < books.number|add:'2' %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{num}}</a></li>
        {% endif %}
        {% endfor %}
        <li class="page-item">
            {% if books.has_next %}
            <a class="page-link" href="?page={{ books.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                {% endif %}
            </a>
        </li>
    </ul>
</nav>


{% endblock %}
</div>
